<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../_incl/inc_header.ejs %>
</head>
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">

  <%- include ../_incl/inc_top.ejs %>
  <%- include ../_incl/inc_submenu.ejs %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <%=title%>
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%=prePageUrl%>"><i class="fa fa-cc-mastercard"></i> 문의/건의</a></li>
        <li class="breadcrumb-item active">상담하기</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
     
     <!-- Basic Forms -->
      <div class="box">
          <!--
        <div class="box-header with-border">
			<h3 class="box-title">---</h3>
			<h6 class="box-subtitle">
				<span id="is_kyc" class="text-danger"></span> 
				<a href="http://reactiveraven.github.io/jqBootstrapValidation/"> <span class="text-cyan">[참고]</span></a>
			</h6>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        -->     

        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col">
            	<form>
                    <div class="form-group">
                        <h5>문의/건의 내용<span class="text-danger">*</span></h5>
                        <div class="controls">
                            <textarea name="s_content" id="s_content" class="form-control" required placeholder="문의할 내용을 작성하세요." rows="5"></textarea>
                        </div>
                    </div>
				</form>

                <form  id="suggest_form">
					<div class="form-group">
						<h5>
							사진올리기
							<span class="text-danger">*</span>
							<small>(파일 크기 <code>3Mb</code>이하)</small>
						</h5>
						<div class="controls">
							<div class="input-group input-file" name="Fichier1">
								<input type="text" id="picUrl" name="text" class="form-control selected_file" placeholder='문의할 내용의 사진을 업로드하세요.' required> 
								<span class="input-group-btn">
									<button type="reset" class="btn btn-default border-danger del-file" >삭제</button>
									<button type="submit" class="btn btn-info">업로드</button>
								</span> 
							</div>
						</div>
					</div>
					
					<div class="bb-1 border-secondary h-30"></div><br>

					<div class="text-xs-right" style="padding-top: 30px;">
						<a href="javascript:void(0)" class="btn btn-lg btn-success go-suggest" onclick="writeSuggestion();">확정</a>
						<span id="kyc_verification">* 필수 입력 항목을 모두 작성하세요.</span>
					</div>
				</form>
            	
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
   
  <%- include ../_incl/inc_footer.ejs %>
  <%- include ../_incl/inc_sidebar.ejs %>
  
</div>
<!-- ./wrapper -->

<%- include ../_incl/inc_scripts.ejs %>

<script>
    let checkImage = false;
</script>

<script>
    function bs_input_file() {
        $(".input-file").before(
            function() {
                if ( ! $(this).prev().hasClass('input-ghost') ) {
                    var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
                    element.attr("name",$(this).attr("name"));
                    element.change(function(){
                        element.next(element).find('input').val((element.val()).split('\\').pop());
                    });
                    $(this).find("button.btn-choose").click(function(){
                        element.click();
                    });
                    $(this).find("button.btn-reset").click(function(){
                        element.val(null);
                        $(this).parents(".input-file").find('input').val('');
                    });
                    $(this).find('input').css("cursor","pointer");
                    $(this).find('input').mousedown(function() {
                        $(this).parents('.input-file').prev().click();
                        return false;
                    });
                    return element;
                }
            }
        );
    }
    $(function() {
        bs_input_file();
    });

    /* 파일 삭제 버튼 클릭 이벤트 */
    $('.del-file').click(function() {
        checkImage = false;
    })
</script>

<script>
    /* 파일 업로드 버튼 클릭 이벤트 */
    $('#suggest_form').on("submit", function(e) {
        e.preventDefault();

        let formData = new FormData(this);
        let uploadBtn = $(this).find('button[type=submit]');
        uploadBtn.css('display', 'none');

        if($('.input-ghost').val()){
            $.ajax({
                type: "POST",
                url: "/ajax/getImageUrl",
                data: formData,
                processData: false,
                contentType: false,
                success: function(data){
                    if(data.status == '_success_' && data.picUrl !=''){
                        $('#picUrl').val(data.picUrl)
                        checkImage =  true;
                    }else{
                        toastAlert(data.msg, '', 'error')
                    }
                    uploadBtn.css('display', '');
                },
                error: function (e) {
                    toastAlert(ums.error[1000], '', 'error')
                    uploadBtn.css('display', '');
                }
        });
        }else{
            toastAlert(ums.error[2000], '', 'error')
            uploadBtn.css('display', '');
        }
    })
</script>
<script>
    function writeSuggestion(){

        //$(".se-pre-con").fadeIn("slow");
        if(!$('#s_content').val()){
            $('#kyc_verification').html(' * 문의할 내용을 작성하세요')
            $('#kyc_verification').attr('class', 'text-danger')
            return ;
        }
        if(!checkImage){
            $('#kyc_verification').html(' * 파일을 업로드하세요.')
            $('#kyc_verification').attr('class', 'text-danger')
            return ;
        }

        $.ajax({
                type: 'POST',
                url: '/suggest/ajax/suggestion_add',
                data: {
                content:$('#s_content').val(),
                pic:$('#picUrl').val()
            },
            success: function(data) {
                if(data.status =='_success_'){
                    toastAlert(ums.success[1000], '', 'success')
                    $('#s_content').val('')
                    $('#picUrl').val('')
                    setTimeout(function() {
                        window.location.href = data.url;
                    }, 2600)
                } else {
                    $(".se-pre-con").fadeOut("slow");
                    toastAlert(data.msg, '', 'error')
                }
            }
        })
    }
</script>
</body>
</html>
